    <header>
        <div class="logo">
            <img src="../../../../assets/img/logo.jpeg" routerLink="/" alt="Logo">
        </div>
        <div class="wrapper">
            <div class="menu">
                <ul class="menu__navigation">
                    <li class="menu-navigation__item" routerLink="/cakes">
                        выбрать торт
                    </li>
                    <li class="menu-navigation__item">
                        кенди-бар
                    </li>  
                    <li class="menu-navigation__item">
                        вопрос\ответ
                    </li>  
                    <li class="menu-navigation__item">
                        о нас
                    </li>          
                </ul>
            </div>
            <div class="contacts">
                <span>+7-999-870-22-22</span>
                <small>С 10:00 до 21:00</small>
            </div>
        </div>
    </header>
