<footer>
    <div class="footer-wrapper">
        <div class="title-text">
            Коннект:
        </div>
        <div class="wrapper">
            <div class="contact">
                    <a href="https://www.instagram.com/cooklinova/" target="_blank">
                        <img src="../../../../assets/img/insta.png" alt="instagram">
                        cooklinova
                    </a>
                <span>+7 (999) 870-22-22</span>
                <p>оформить доставку / самовывоз</p>
                <div class="ring-btn">Заказать звонок</div>
                <p>Оставьте координаты и ждите звонок в ближайшее время :)</p>
            </div>
            <div class="address">
                <p class="address-title">Cамовывоз: </p>
                <p class="desc">3-я Хорошевская улица 21к5 (м. Октябрьское поле, м. Зорге) Часы работы студии: 10.00 – 18.00 Прием заказов: 10.00-21.00</p>
                <img src="../../../../assets/img/logo_white.png" alt="">
            </div>
        </div>
        <div class="up-btn">

        </div>
    </div>
</footer>
