<div class="title">
    <span>чем уникален наш проект?</span>
</div>
<div class="grid-wrapper">
    <div class="grid-img1 img">
        <img src="../../../../assets/img/2.JPG" alt="img1">
    </div>
    <div class="grid-img2 img">
        <img src="../../../../assets/img/3.JPG" alt="">
    </div>
    <div class="grid-img3 img">
        <img src="../../../../assets/img/4.JPG" alt="">
    </div>
    <div class="grid-decription1">
        <div class="wrapper">
            <div class="desc-title">
                это эффектно:
            </div>
            <div class="desc">
                Торты любой сложности и формы, дополненные эффектным кенди – баром точно произведут впечатление  
            </div>
            <div class="btn">
                посмотреть коллекции
            </div>
        </div>
        
    </div>
    <div class="grid-decription2 desc">
        <div class="wrapper">
            <div class="desc-title">
                это реально вкусно:
            </div>
            <div class="desc">
                Основная концепция всего, что мы делаем – делать не только красиво, но и вкусно.  
            </div>
            <div class="btn">
                посмотреть начинки
            </div>
        </div>
    </div>
    <div class="grid-decription3 desc">
        <div class="wrapper">
            <div class="desc-title">
                на любой праздник:
            </div>
            <div class="desc">
                Корпоративные, детские, на юбилей – нет повода, на который мы подберем эффектный торт
            </div>
            <div class="btn">
                перейти к выбору
            </div>
        </div>
    </div>
    <ul class="stepper">
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>

